################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Les12Salopards.Business/obj/Debug
/Les12Salopards.Business.Tests/obj
/Les12Salopards.Entities/obj/Debug
/Les12Salopards.IHM/obj/Debug
/packages/log4net.2.0.12
/.vs/Les12Salopards.IHM/v16
/Les12Salopards.Business/bin/Debug
/Les12Salopards.Business.Tests/bin/Debug/net472
/Les12Salopards.Entities/bin/Debug
/Les12Salopards.IHM/bin/Debug
